@charset utf-8;
.carousel-inner img{
	width:100%;
}
a.left.carousel-control,
a.right.carousel-control{
	position: absolute;
	top: 20%;
	left: 10px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 40px;
	font-weight: 100;
	line-height: 30px;
	color: #FFF;
	text-align: center;
	background: none repeat scroll 0% 0% #222;
	border: 3px solid #FFF;
	border-radius: 23px;
	opacity: 0.5;
}
.carousel-caption{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75);
}
a.right.carousel-control{
	left: auto;
	right:10px;
}
.leftLayout{
	min-width: 760px;
}
.rightLayout{
	min-width: 200px;
}
.img-container img{
	margin-left: 4px;
	margin-top: 10px;
}
.navbar-brand{
	margin-left: 50px;
	margin-right:50px;
}
.small-icon{
	margin-right: 10px;
	width:100px;
	height: 100px;
}